userPreferences.*/
Data/
Project/DerivedData/
Project/DerivedData/CompiledCode/
Project/Trash/
dropbox/
Plugins/
Project/Sources/Methods/Method*
SourceController/data.json
SourcesController/data.json
diagnostics/
*.4BK
*.4BL
backupHistory.json
Resources/image/dynform/
Resources/.DS_Store
Resources/image/.DS_Store
.DS_Store